# Introduction Pandas

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with "relational" or "labeled" data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language. It is already well on its way towards this goal.

Prerequisite :
- Numpy

## Import pandas (and Numpy)

Note: It’s conventional to refer to ‘pandas’ as ‘pd’.   
When you add the as pd at the end of your import statement, your Jupyter Notebook understands that from this point on every time you type pd, you are actually referring to the pandas library.

In [1]:
import numpy as np
import pandas as pd

## Download the dataset

In [2]:
!wget 54.36.190.240/data/pandas_tutorial_read.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
df = pd.read_csv('pandas_tutorial_read.csv')

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [4]:
df.head()

     ins     type_entity           entity      period  value
0   3000          Région         Wallonie  01/01/2019  215.0
1  20002        Province   Brabant Wallon  01/01/2019  367.9
2  25000  Arrondissement         Nivelles  01/01/2019  367.9
3  25005         Commune      Beauvechain  01/01/2019  187.8
4  25014         Commune  Braine-l'Alleud  01/01/2019  764.8

In [5]:
df.tail()

       ins type_entity         entity      period  value
286  93018     Commune        Doische  01/01/2019   35.6
287  93022     Commune      Florennes  01/01/2019   84.3
288  93056     Commune  Philippeville  01/01/2019   59.0
289  93088     Commune       Walcourt  01/01/2019  149.1
290  93090     Commune      Viroinval  01/01/2019   46.7

We can see the dimensions of the dataframe using the the **shape** attribute, like as Numpy

In [6]:
df.shape

(291, 5)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [7]:
df.columns.tolist()

['ins', 'type_entity', 'entity', 'period', 'value']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [8]:
df.describe()

                ins        value
count    291.000000   291.000000
mean   64080.941581   319.149828
std    19262.087619   428.431706
min     3000.000000    24.500000
25%    55019.500000    79.400000
50%    62096.000000   186.000000
75%    83020.500000   323.700000
max    93090.000000  3518.600000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [9]:
df.max()

ins                 93090
type_entity        Région
entity             Étalle
period         01/01/2019
value              3518.6
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [10]:
df['value'].max()

3518.6

If you'd like to find the mean of the Losing value.

In [11]:
df['value'].mean()

319.1498281786941

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **idmax()** function to identify the row index

In [12]:
df['value'].idxmax()

144

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of teh same values.

In [13]:
df['value'].value_counts()

49.4     3
367.9    2
46.7     2
30.6     2
642.8    2
        ..
164.1    1
270.7    1
181.4    1
191.6    1
215.0    1
Name: value, Length: 280, dtype: int64

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [14]:
df.iloc[[df['value'].idxmax()]]

       ins type_entity         entity      period   value
144  62093     Commune  Saint-Nicolas  01/01/2019  3518.6

Let's take this a step further. Let's say you want to know the game with the highest scoring winning team (this is what we just calculated), but you then want to know how many points the losing team scored.

In [15]:
df.iloc[[df['value'].idxmax()]]['ins']

144    62093
Name: ins, dtype: int64

When you see data displayed in the above format, you're dealing with a Pandas **Series** object, not a dataframe object.

In [16]:
type(df.iloc[[df['value'].idxmax()]]['ins'])

pandas.core.series.Series

In [17]:
type(df.iloc[[df['value'].idxmax()]])

pandas.core.frame.DataFrame

The following is a summary of the 3 data structures in Pandas (Haven't ever really used Panels yet)

![](DataStructures.png)

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [18]:
df.loc[:3]

     ins     type_entity          entity      period  value
0   3000          Région        Wallonie  01/01/2019  215.0
1  20002        Province  Brabant Wallon  01/01/2019  367.9
2  25000  Arrondissement        Nivelles  01/01/2019  367.9
3  25005         Commune     Beauvechain  01/01/2019  187.8

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

Below is an example of how you can use loc to achieve the same task as we did previously with iloc

In [19]:
df.loc[df['value'].idxmax(), 'ins']

62093

A faster version uses the **at()** function. At() is really useful whenever you know the row label and the column label of the particular value that you want to get.

In [20]:
df.at[df['value'].idxmax(), 'ins']

62093

If you'd like to see more discussion on how loc and iloc are different, check out this great Stack Overflow post: http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation. Just remember that **iloc looks at position** and **loc looks at labels**. Loc becomes very important when your row labels aren't integers.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [21]:
df.sort_values('value').head()

       ins type_entity               entity      period  value
228  84016     Commune           Daverdisse  01/01/2019   24.5
265  91143     Commune    Vresse-sur-Semois  01/01/2019   25.8
214  82038     Commune           Sainte-Ode  01/01/2019   26.1
229  84029     Commune           Herbeumont  01/01/2019   27.8
219  83031     Commune  La Roche-en-Ardenne  01/01/2019   28.6

In [22]:
df.groupby('value')

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [23]:
df[df['value'] > 150]

       ins     type_entity              entity      period  value
0     3000          Région            Wallonie  01/01/2019  215.0
1    20002        Province      Brabant Wallon  01/01/2019  367.9
2    25000  Arrondissement            Nivelles  01/01/2019  367.9
3    25005         Commune         Beauvechain  01/01/2019  187.8
4    25014         Commune     Braine-l'Alleud  01/01/2019  764.8
..     ...             ...                 ...         ...    ...
277  92114         Commune           Sombreffe  01/01/2019  235.1
278  92137         Commune         Sambreville  01/01/2019  825.7
280  92140         Commune  Jemeppe-sur-Sambre  01/01/2019  408.5
281  92141         Commune          La Bruyère  01/01/2019  174.9
282  92142         Commune            Gembloux  01/01/2019  269.7

[165 rows x 5 columns]

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

In [24]:
df[(df['value'] > 150) & (df['value'] < 200)]

       ins     type_entity                 entity      period  value
3    25005         Commune            Beauvechain  01/01/2019  187.8
8    25031         Commune                Genappe  01/01/2019  170.7
11   25044         Commune                  Ittre  01/01/2019  196.7
12   25048         Commune               Jodoigne  01/01/2019  191.5
16   25084         Commune                 Perwez  01/01/2019  181.8
25   25120         Commune             Orp-Jauche  01/01/2019  175.7
29   25124         Commune                Walhain  01/01/2019  188.8
31   51000  Arrondissement                    Ath  01/01/2019  190.4
61   53044         Commune                Jurbise  01/01/2019  178.4
76   55085         Commune                Seneffe  01/01/2019  179.2
84   56044         Commune                 Lobbes  01/01/2019  181.1
87   56078         Commune                  Thuin  01/01/2019  191.7
95   57062         Commune                   Pecq  01/01/2019  171.9
99   57093         Commune              Brunehaut  01/01/2019  173.5
100  57094         Commune       Leuze-en-Hainaut  01/01/2019  186.0
111  61000  Arrondissement                    Huy  01/01/2019  171.5
119  61039         Commune                Marchin  01/01/2019  181.4
121  61043         Commune                Nandrin  01/01/2019  159.3
123  61063         Commune               Verlaine  01/01/2019  173.3
124  61068         Commune    Villers-le-Bouillet  01/01/2019  197.7
132  62009         Commune               Aywaille  01/01/2019  155.6
147  62100         Commune               Sprimont  01/01/2019  197.4
182  63088         Commune             Plombières  01/01/2019  196.6
183  63089         Commune     Thimister-Clermont  01/01/2019  199.0
189  64025         Commune  Fexhe-le-Haut-Clocher  01/01/2019  166.3
191  64034         Commune                 Hannut  01/01/2019  191.6
193  64056         Commune                  Oreye  01/01/2019  199.8
200  81000  Arrondissement                  Arlon  01/01/2019  196.4
205  81015         Commune               Messancy  01/01/2019  156.2
263  91141         Commune                  Yvoir  01/01/2019  160.6
269  92035         Commune                Éghezée  01/01/2019  158.3
271  92048         Commune        Fosses-la-Ville  01/01/2019  164.1
281  92141         Commune             La Bruyère  01/01/2019  174.9

# Grouping

Another important function in Pandas is **groupby()**. This is a function that allows you to group entries by certain attributes (e.g Grouping entries by ins number) and then perform operations on them.

In [5]:
df.groupby('ins')['value'].mean().head()

This next command groups all the games with the same value and finds where how many times that specific team won at home, on the road, or at a neutral site.

In [4]:
df.groupby('value')['entity'].value_counts().head(9)

Each dataframe has a **values** attribute which is useful because it basically displays your dataframe in a numpy array style format

In [ ]:
df.values

Now, you can simply just access elements like you would in an array.

In [ ]:
df.values[0][0]

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [ ]:
for index, row in df.iterrows():
    print row
    if index == 1:
        break

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [ ]:
df[['Wscore', 'Lscore']].head()

Notice that you can achieve the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [ ]:
df.loc[:, ['Wscore', 'Lscore']].head()

Note the difference is the return types when you use brackets and when you use double brackets.

In [ ]:
type(df['Wscore'])

In [ ]:
type(df[['Wscore']])

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [ ]:
df[0:3]

Here's an equivalent using iloc

In [ ]:
df.iloc[0:3,:]

# Data Cleaning

One of the big jobs of doing well in Kaggle competitions is that of data cleaning. A lot of times, the CSV file you're given (especially like in the Titanic dataset), you'll have a lot of missing values in the dataset, which you have to identify. The following **isnull** function will figure out if there are any missing values in the dataframe, and will then sum up the total for each column. In this case, we have a pretty clean dataset.

In [ ]:
df.isnull().sum()

If you do end up having missing values in your datasets, be sure to get familiar with these two functions. 
* **dropna()** - This function allows you to drop all(or some) of the rows that have missing values. 
* **fillna()** - This function allows you replace the rows that have missing values with the value that you pass in.

# Creating Kaggle Submission CSVs

This isn't directly Pandas related, but most people who use Pandas probably do a lot of Kaggle competitions as well. As you probably know, Kaggle competitions require you to create a CSV of your predictions. Here's some starter code that can help you create that csv file

In [ ]:
import numpy as np
import csv

results = [[0,10],[1,15],[2,20]]
results = pd.np.array(results)
print results

In [ ]:
firstRow = [['id', 'pred']]
with open("result.csv", "wb") as f:
    writer = csv.writer(f)
    writer.writerows(firstRow)
    writer.writerows(results)

The approach I described above deals more with python lists and numpy. If you want a purely Pandas based approach, take a look at this video: https://www.youtube.com/watch?v=ylRlGCtAtiE&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=22

# Other Useful Functions

* **drop()** - This function removes the column or row that you pass in (You also have the specify the axis). 
* **agg()** - The aggregate function lets you compute summary statistics about each group
* **apply()** - Lets you apply a specific function to any/all elements in a Dataframe or Series
* **get_dummies()** - Helpful for turning categorical data into one hot vectors.
* **drop_duplicates()** - Lets you remove identical rows

# Lots of Other Great Resources

Pandas has been around for a while and there are a lot of other good resources if you're still interested on getting the most out of this library. 
* http://pandas.pydata.org/pandas-docs/stable/10min.html
* https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python
* http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
* https://www.dataquest.io/blog/pandas-python-tutorial/
* https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y